.gradle/
.vs/
.vscode/
*.csproj
*.leu
*.sln
*.userprefs
/Library/*
!/Library/com.unity.addressables/
!/Library/PackageCache/
/Library/PackageCache/com.unity.*
/Library/PackageCache/nuget.*
Logs/
obj/
Temp/
put
*.log