<?xml version="1.0" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
 <Package Name="GeneaGrab" Manufacturer="Evan Galli" ProductCode="*" UpgradeCode="25d317df-8d7c-42c4-9e56-38dd6fa97c06" Language="1033" Codepage="1252" Version="$(Version)">
  <SummaryInformation Keywords="Installer" Description="GeneaGrab installer" Manufacturer="Evan Galli"/>
  <MajorUpgrade DowngradeErrorMessage="A newer version of GeneaGrab is already installed."/>
  <Icon Id="icon" SourceFile="Assets\Logo\GeneaGrab.ico"/>
  <Property Id="ARPPRODUCTICON" Value="icon" />
  <WixVariable Id="WixUILicenseRtf" Value="../LICENSE.rtf" />
  <Media Id="1" Cabinet="geneagrab.cab" EmbedCab="yes"/>
  <StandardDirectory Id="ProgramFiles64Folder">
   <Directory Id="INSTALLDIR" Name="GeneaGrab">
    <Component Id="ApplicationFiles0" Guid="4AF9FB8B-BBED-468E-90FA-7888A325F97E">
     <Environment Id="Environment" Name="PATH" Part="last" System="yes" Action="set" Value="[INSTALLDIR]"/>
     <File Id="uiexe" Name="GeneaGrab.exe" Source="GeneaGrab-win-x64\GeneaGrab.exe"/>
     <File Id="uidll0" Name="av_libglesv2.dll" Source="GeneaGrab-win-x64\av_libglesv2.dll"/>
     <File Id="uidll1" Name="libHarfBuzzSharp.dll" Source="GeneaGrab-win-x64\libHarfBuzzSharp.dll"/>
     <File Id="uidll2" Name="libSkiaSharp.dll" Source="GeneaGrab-win-x64\libSkiaSharp.dll"/>
    </Component>
   </Directory>
  </StandardDirectory>
  <ui:WixUI Id="WixUI_FeatureTree"/>
  <Feature Id="Complete" Title="GeneaGrab" Description="The complete package" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
   <Feature Id="GUI" Title="GUI" Description="The user interface" Level="1" AllowAbsent="no">
    <ComponentRef Id="ApplicationFiles0"/>
   </Feature>
  </Feature>
 </Package>
</Wix>
